{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  {% if view_model.has_todo_items %}
  <div class="row">
    <div class="col-md-12 bs-example" id="todo-tasks">
      <h2>To do Items</h2>
      <ul class="list-group mb-4 list-group" >
        <form method="post">
        {% for item in view_model.todo_items%}
        <li>
          <div  id="todo-task">
            <button type="submit" name="deletebutton" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('delete_item')}}';">
              Delete
            </button> 
            <button type="submit" name="Doing" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('doing_item')}}';">
              To Doing
            </button> 
            {{item.id}} - {{item.status.name}} - {{item.title}}  
          </div>
        </li>
        {% endfor %}
      </form>
      </ul>
    </div>
  </div>
  {% endif %}
  {% if view_model.has_doing_items %}
  <div class="row">
    <div class="col-md-12 bs-example">
      <h2>Doing Items</h2>
      <ul class="list-group mb-4 list-group" >
        <form method="post">
        {% for item in view_model.doing_items%}
        <li>
          <button type="submit" name="deletebutton" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('delete_item')}}';">
            Delete
          </button> 
          <button type="submit" name="Complete" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('complete_item')}}';">
            Complete
          </button> 
          <button type="submit" name="Reset" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('reset_item')}}';">
            Reset
          </button> 
          {{item.id}} - {{item.status.name}} - {{item.title}}  
        </li>
        {% endfor %}
      </form>
      </ul>
    </div>
  </div>
  {% endif %}
  {% if view_model.has_finished_items %}
  <div class="row">
    <div class="col-md-12 bs-example">
      <h2>Finished Items</h2>
      <ul class="list-group mb-4 list-group" >
        <form method="post">
        {% for item in view_model.finished_items%}
        <li>
          <button type="submit" name="deletebutton" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('delete_item')}}';">
            Delete
          </button> 
          {% if item.unstarted() %}
          <button type="submit" name="Complete" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('complete_item')}}';">
            Complete
          </button> 
          {% else %}
          <button type="submit" name="Reset" value="{{item.cardid}}" onclick="javascript: form.action='{{ url_for('reset_item')}}';">
            Reset
          </button> 
          {% endif %}
          {{item.id}} - {{item.status.name}} - {{item.title}}  
        </li>
        {% endfor %}
      </form>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <h2>Add Item</h2>

        <form method="post" action="{{ url_for('add_item') }}">
            <input type="text" name="data" value="" id="new-task-input"/>
            <button type="submit">Submit</button>
      </form>

    </div>
  </div>
{% endblock %}